{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="home-container">    
	<section class="rw-wrapper">
		<h2 class="rw-sentence">
			<span style="color:#EC7063;">Bienvenue</span>
			<span style="color:#F5B041;">Que voudriez-vous</span>
			{# <span>to</span> #}
			    <div class="rw-words">
			    	<span>créer</span>
			    	<span>réaliser</span>
			    	<span>partager</span>
			    	<span>découvrir</span>
			    	<span>inventer</span>
			    	<span>susciter</span>
			    </div>
			<span style="color:var(--fifth-color);">aujourd'hui ?</span>
		</h2>
	</section>
	{# <h2 class="rw-sentence-IE">What would you like to share today?</h2> #}
</div>
{% endblock %}
