{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}

<div class="about-page">
    <h1 class="about-title">Charles Létang</h1>
        <div class="about-me">
             

            <br>
        </div>
</div>

{% endblock %}
