{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}

<div class="about-page">
    {# <h1 class="about-title">Charles Létang</h1> #}
        <div class="about-me">
            <div class="description">
                Hi, I'm Charles
                <br>
                I'm a french developper based in Bordeaux.
                <br>
                <br>
                Video games fan, high-tech enthousiast, I love animes and mangas,
                metal music, especially the one made in Scandinavia. 
                I have a passion for basketball and bulking
                I'm the happy owner of four cats😺.
            </div>            
            <img src="../images/profile.jpg" class="profile" alt="Photo de profil de Charles">
        </div>
</div>

{% endblock %}
