{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}

<div class="about-page">
    {# <h1 class="about-title">Charles Létang</h1> #}
        <div class="about-me">
            <div class="description">
                <div class="about">
                    <div class="about-title">
                        Parlons un peu de moi...<br>
                    </div>
                        <div class="text">
                            <br>
                            Bonjour, je m'appelle Charles
                            <br>
                            <br>
                            Je suis un développeur front-end/back-end et graphiste situé à Bordeaux.
                            <br>
                            <br>
                            Organisé et rigoueux, j'ai une passsion pour le développement front et
                            back end. 
                            <br>
                            J'aime créer des sites responsives et dynamiques.
                            <br>
                            Passionné d'informatique et de nouvelles technologies, 
                            mes créations sont à l'image de mes passions.
                            <br>
                            Je suis également fan de mangas, d'animés et de métal, 
                            en particulier en provenance de Scandinavie. 
                            <br>
                            Amis des animaux, je suis l'heureux parent de quatre chats.
                            <br>
                            <br>
                        <a href="{{ path('contact') }}">Travaillons ensemble</a> 
                    </div>
                </div>
                    <div class="sphere">
                            <span class="content"></span>
                            <script src="https://cdn.jsdelivr.net/npm/TagCloud@2.2.0/dist/TagCloud.min.js"></script>
                    </div>          
            </div>             
                <div class="photo">
                    <img src="../images/profile_3.jpg" id="profile" class="profile" alt="Photo de profil de Charles">
                </div>               
        </div>
</div>

{% endblock %}
