@import url('https://fonts.cdnfonts.com/css/bahnschrift');
@import url('https://fonts.cdnfonts.com/css/georgia');


:root{
  --main-title: 60px;
  --big-title: 40px;
  --medium-title: 20px;
  --small-title: 15px;
  --para: 15px;
  --first-color: #000;
  --scd-color: #333;
  --third-color: #a20404;
  --fourth-color:#707070;
  --fifth-color:#6D7CAF;
  --sixth-color:#abb5d6;
  --txt-color: #fff;
  --bckg-color: #dfdfdf;
  --sphr-color-1: #a20404;
  --sphr-color-2: #6D7CAF;
  --sphr-color-3: #ffffff;
  --sphr-color-4: #2043b3;
  --sphr-color-5: #027c02;
  --sphr-color-6: #e7c500;
  --sphr-color-7: #36454F;
  --first-font: 'Bahnschrift', sans-serif;
  --second-font: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding: 0;    
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}

body{
  font-family: var(--first-font);
  background-color:var(--first-color);
  color: var(--txt-color);
}

body a:visited{
  text-decoration: none;
  color: var(--txt-color);
}

/********************** Header ********************/

.main-header{
  display: flex;
  flex-direction: column;
  background-color: var(--first-color);
  width: 200px;
  height: 100vh;
  position: fixed;
}
  
.site-head{
  display: flex;
  flex-direction: row;    
}
  
.logo{
  height:180px;
  margin: 10px;
  z-index: 10;
}
  
.site-name{
  color: var(--txt-color);
  font-size: var(--big-title);
  padding: 30px;
}

/**************** Navigation ***************/

.menunavigationcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
}

.menunavigationcontainer a{
  display: flex;
  height: 40px;
  width: 100%;
  border-bottom: solid var(--scd-color) 1px;
  align-items: center;
  justify-content: center;
  color: var(--txt-color);
  font-size: var(--medium-title);
  transition: all 0.5s;
  background-position: 100%;
}

.menunavigationcontainer a:visited{
  color: var(--txt-color);
}

.menunavigationcontainer a:hover {
  color:var(--fifth-color) ;
  background-image: -webkit-linear-gradient(45deg, var(--scd-color) 50%, transparent 50%);
  background-image: linear-gradient(45deg, var(--scd-color) 50%, transparent 50%);
  background-position: 0;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  transition: 0.5s;
}

.icon{
  display: none;
}

@media screen and (max-width :768px){
  .main-header{
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    max-width: 100%;
    width: 100%;
    align-items: center;
  }

  .menunavigationcontainer{
    display: none;
    flex-direction: column;
    align-items: center;
    transition: height 0.5s;
  }

  .menunavigationcontainer-responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.5s;
  }

  .menunavigationcontainer-responsive a:hover{
    color: var(--fifth-color);
    transition: 0.5s;
  }

  .icon{
    display: block;
    margin: 10px;
  }

  .fa-bars{
    font-size: var(--big-title) !important;
    color: var(--txt-color);
    transition: 0.5s;
  }

  .fa-bars:hover{
    color: var(--fifth-color);
    transition: 0.5s;
  }

  #myNavigation{
    font-size: var(--medium-title);
  }
}

/*************** A propos *******************/

.about-page{
  margin-left: 200px;
  background-color: var(--first-color);
  height: calc(100% - 40px);

}

.about-title{
  font-size: var(--big-title);
  color: var(--fifth-color);
  text-align: center;
  animation: blurFadeIn 1.5s ease-in 0s backwards;
}

.about-me{
  display: flex;
  flex-direction: row;
}

.about{
  padding: 65px 65px 0 65px;
  width: 100%;
}

.text{
  animation: blurFadeIn 1.5s ease-in 1.3s backwards;
  text-align: justify;
}

.content{
  animation: blurFadeIn 1.5s ease-in 2.2s backwards;
}

@keyframes blurFadeIn{
  0%{
    opacity: 0;
    transform: scale(1.1);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.description{  
  font-size: var(--small-title);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.description a{
  color: var(--fifth-color) !important;
  transition: 0.5s;
}

.description a:hover{
  color: var(--third-color) !important;
  transition: 0.5s;
}

.photo{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  animation: fadein 4s;
  position: sticky;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.profile{
  height: 100%;
  object-fit: cover;
  filter: grayscale();
  width: 100%;
  transition: 1s;
}
 
.profile:hover{
  filter: none;
  transition: 1s;
}

.tagcloud {
  font-family:var(--first-font);  /* Skills sphere */
  font-size: 20px;
  margin: auto;
  width: 50%;
}

.tagcloud--item:hover {
  color: #36454F;
}

@media screen and (max-width :768px){
  .about-me{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 auto;
  }

  .about-page{
    margin: 0 auto !important;
    max-width: 100% !important;
  }

  .description{
    width: 100% !important;
  }

  .about{
    padding: 20px !important;
    width: 100% !important;
  }

  .about-title{
    width: 100% !important;
  }

  .text{
    width: 100% !important;
  }

  .text a{
    display: flex;
    justify-content: center !important;
  }

  .sphere{
    width: 100% !important;
  }

  .photo{
    width: 100% !important;
  }

  .footer{
    display: none !important;
  }
}

/*************** Contact ********************/

.contact-page{
  margin-left: 200px;
  padding: 30px;
}

.contact-form{
  position: relative;
  padding-top: 30px;
  max-width: 650px;
  min-height: 500px;
  animation: fadein 4s;
}

.contact-form p{
  color: var(--txt-color);
  font-size: var(--small-title);
  padding: 0 10px;
}

.form-group{
  padding: 5px 10px 5px 10px;
  max-width: 650px;
}

.contact-fields{
  padding-top: 20px;
}

.form-control-name-field, .form-control-mail-field, .form-control-subject-field{
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Bahnschrift';
  background-color: var(--sixth-color);
}

.form-control-message-field{
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Bahnschrift';
  background-color: var(--sixth-color);
}

input::placeholder, textarea::placeholder{
  color: var(--first-color);
}

.submit-button{
  position: absolute;
  right: 0;
  background-color: var(--scd-color);
  color: var(--txt-color);
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  margin: 0 10px;
  transition: 0.5s;
}

.submit-button:hover{
  transition: 0.5s;
  background-color: var(--third-color);
}

.mentions{
  max-width: 500px;
  /* text-align: center; */
  padding: 10px;
}

@media screen and (max-width :768px) {
  .contact-page{
    margin: 10px !important;
  }

  .confirmation-page{
    padding: 40px 20px 20px 20px!important;
  }
}

.confirmation-page{
  padding-left: 200px;
  padding-top: 200px;
  width: 100%;
  text-align: center;
}

.confirmation-page a{
  color: var(--fifth-color) !important;
}

.confirmation-page a:hover{
  color: var(--third-color) !important;
}

/**************** Footer ********************/

.footer{
  display: flex;
  background-color: var(--first-color);
  color: var(--fifth-color);
  width: 200px;
  text-align: center;
  height: 40px;
  align-items: center;
  justify-content: center;
}

/***************** Cursor *******************/

.cursor {
  opacity: 65%;
  position: fixed;
  width: 0;
  height: 0;
  border: 10px solid var(--txt-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.2s, height 0.2s;
  z-index: 100;
}

.cursor.link {
  width: 40px;
  height: 40px;
  border: 2px solid var(--txt-color)
}

/**************** Travaux ***************/

.work-container{
  margin-left: 200px;
}

/**************** Accueil ************/

.home-container{
  animation: fadein 4s;
  padding-top: 200px;
}

/* .rw-wrapper{
	width: 80%;
	position: relative;
	margin: 0 auto;
}
.rw-sentence{
	margin: 0;
}
.rw-sentence span{
	text-align: center;
	color: rgba(255,255,255,1);
	white-space: nowrap;
	text-shadow: 2px 5px 10px rgba(0,0,0,0.1);
}
.rw-sentence > span{
	position: absolute;
}
.rw-sentence > span:first-child{
	top: 0px;
	left: 140px;
	font-size: 700%;
	color: rgba(187,177,168,0.6);
}
.rw-sentence > span:nth-child(2){
	top: 160px;
	left: 300px;
	font-size: 315%;
	color: rgba(191,218,206, 0.7);
}
.rw-sentence > span:nth-child(3){
	top: 185px;
	left: 65px;
	font-size: 600%;
	color: rgba(255,255,255,0.8);
}
.rw-sentence > span:last-child{
	top: 435px;
	left: 550px;
	font-size: 200%;
	color: rgba(237,234,168, 0.9);
}
.rw-words{
	position: absolute;
	left: 220px;
	top: 220px;
	height: 80px;
	width: 400px;
	-webkit-perspective: 800px;
	perspective: 800px;
}
.rw-words span{
	position: absolute;
	font-size: 800%;
	color: transparent;
	text-shadow: 0px 0px 80px rgba(255,255,255,1);
	opacity: 0;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
  -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words span:nth-child(3) { 
  -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words span:nth-child(4) { 
  -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}
.rw-words span:nth-child(5) { 
  -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
}
.rw-words span:nth-child(6) { 
  -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	  6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; -ms-animation-timing-function: ease-in; -ms-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -ms-animation-timing-function: ease-out; -ms-transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	  6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg); transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	  6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    20% { opacity: 0; }
    100% { opacity: 0; }
} */

/* @media screen and (max-width: 768px){
  .home-container{
    width: 100%;
    padding: 0 !important;
    text-align: center;
  }
	.rw-sentence > span:first-child {
    font-size: 100%;
    left: 0px;
  }
	.rw-sentence > span:nth-child(2) {
    font-size: 100%;
    top: 125px;
    left: 30px;
  }
	.rw-sentence > span:nth-child(3) {
    top: 175px;
    left: 30px;
    font-size: 235%;
  }
	.rw-words {
    left: 95px;
    top: 171px;
    width: auto !important;
  }
	.rw-words span {
    font-size: 100%;
  }
	.rw-sentence > span:last-child {
    top: 240px;
    left: 30px;
  }
} */

/* @media screen and (max-width: 768px){
	.rw-sentence > span:first-child {
    display: flex;
    justify-content: center;
    font-size: 300%;
    margin: 0 auto;
    left: 35px;
  }
	.rw-sentence > span:nth-child(2) {
    display: flex;
    font-size: 120%;
    top: 85px;
    left: 45px;
  }
	.rw-sentence > span:nth-child(3) {
    display: flex;
    top: 150px;
    left: 10px;
    font-size: 120%;
    color: white !important;
  }
	.rw-words {
    display: flex;
    left: 85px;
    top: 135px;
  }
	.rw-words span {
    display: flex;
    font-size: 120%;
  }
	.rw-sentence > span:last-child {
    display: flex;
    top: 200px;
    left: 65px;
    font-size: 100%;
  }
} */

.rw-wrapper{
	width: 80%;
	position: relative;
	margin: 0px auto 0 auto;
	padding: 10px;
}
.rw-sentence{
	margin: 0;
}
.rw-sentence span{
	text-align: center;
	color: rgba(255,255,255,1);
	white-space: nowrap;
	text-shadow: 2px 5px 10px rgba(0,0,0,0.1);
}
.rw-sentence > span{
	position: absolute;
}
.rw-sentence > span:first-child{
	top: 0px;
	left: 140px;
	font-size: 700%;
	color: rgba(187,177,168,0.6);
}
.rw-sentence > span:nth-child(2){
	top: 160px;
	left: 300px;
	font-size: 315%;
	color: rgba(191,218,206, 0.7);
}
.rw-sentence > span:nth-child(3){
	top: 185px;
	left: 65px;
	font-size: 600%;
	color: rgba(255,255,255,0.8);
}
.rw-sentence > span:last-child{
	top: 435px;
	left: 550px;
	font-size: 200%;
	color: rgba(237,234,168, 0.9);
}
.rw-words{
	position: absolute;
	left: 220px;
	top: 220px;
	height: 80px;
	width: 400px;
	-webkit-perspective: 800px;
	perspective: 800px;
}
.rw-words span{
	position: absolute;
	font-size: 800%;
	color: transparent;
	text-shadow: 0px 0px 80px rgba(255,255,255,1);
	opacity: 0;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}
.rw-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
}
.rw-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; -ms-animation-timing-function: ease-in; -ms-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -ms-animation-timing-function: ease-out; -ms-transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg); transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 1024px){
  .home-container{ padding-left: 200px;}
	.rw-sentence > span:first-child { font-size: 500%; left: 0px;}
	.rw-sentence > span:nth-child(2) { font-size: 200%; top: 125px; left: 30px; }
	.rw-sentence > span:nth-child(3) { top: 175px; left: 30px; font-size: 235%; }
	.rw-words { left: 95px; top: 171px; }
	.rw-words span { font-size: 250%; }
	.rw-sentence > span:last-child { top: 240px; left: 30px; }
}

@media screen and (max-width: 768px){
  .home-container{ padding-left: 0 !important; padding-top: 100px;}
	.rw-sentence > span:first-child { font-size: 200%; left: 0px;}
	.rw-sentence > span:nth-child(2) { font-size: 100%; top: 60px; left: 55px; }
	.rw-sentence > span:nth-child(3) { top: 76px; left: 10px; font-size: 120%; }
	.rw-words { width: auto; left: 100px; top: 86px; }
	.rw-words span { font-size: 120%; left: 85px;}
	.rw-sentence > span:last-child { top: 130px; left: 10px; font-size: 130%; }
}