@import url('https://fonts.cdnfonts.com/css/bahnschrift');
@import url('https://fonts.cdnfonts.com/css/georgia');


:root{
  --main-title: 60px;
  --big-title: 40px;
  --medium-title: 20px;
  --small-title: 15px;
  --para: 15px;
  --first-color: #000;
  --scd-color: #333;
  --third-color: #a20404;
  --fourth-color:#707070;
  --fifth-color:#6D7CAF;
  --sixth-color:#abb5d6;
  --txt-color: #fff;
  --bckg-color: #dfdfdf;
  --sphr-color-1: #a20404;
  --sphr-color-2: #6D7CAF;
  --sphr-color-3: #ffffff;
  --sphr-color-4: #2043b3;
  --sphr-color-5: #027c02;
  --sphr-color-6: #e7c500;
  --sphr-color-7: #36454F;
  --first-font: 'Bahnschrift', sans-serif;
  --second-font: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding: 0;    
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}

body{
  font-family: var(--first-font);
  background-color:var(--first-color);
  color: var(--txt-color);
}

body a:visited{
  text-decoration: none;
  color: var(--txt-color);
}

/********************** Header ********************/

.main-header{
  display: flex;
  flex-direction: column;
  background-color: var(--first-color);
  width: 200px;
  height: 100vh;
  position: fixed;
}
  
.site-head{
  display: flex;
  flex-direction: row;    
}
  
.logo{
  height:180px;
  margin: 10px;
  z-index: 10;
}
  
.site-name{
  color: var(--txt-color);
  font-size: var(--big-title);
  padding: 30px;
}

/**************** Navigation ***************/

.menunavigationcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
}

.menunavigationcontainer a{
  display: flex;
  height: 40px;
  width: 100%;
  border-bottom: solid var(--scd-color) 1px;
  align-items: center;
  justify-content: center;
  color: var(--txt-color);
  font-size: var(--medium-title);
  transition: all 0.5s;
  background-position: 100%;
}

.menunavigationcontainer a:visited{
  color: var(--txt-color);
}

.menunavigationcontainer a:hover {
  color:var(--fifth-color) ;
  background-image: -webkit-linear-gradient(45deg, var(--scd-color) 50%, transparent 50%);
  background-image: linear-gradient(45deg, var(--scd-color) 50%, transparent 50%);
  background-position: 0;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  transition: 0.5s;
}

.icon{
  display: none;
}

@media screen and (max-width :768px){
  .main-header{
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    max-width: 100%;
    width: 100%;
    align-items: center;
  }

  .menunavigationcontainer{
    display: none;
    flex-direction: column;
    align-items: center;
    transition: height 0.5s;
  }

  .menunavigationcontainer-responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.5s;
  }

  .menunavigationcontainer-responsive a:hover{
    color: var(--fifth-color);
    transition: 0.5s;
  }

  .icon{
    display: block;
    margin: 10px;
  }

  .fa-bars{
    font-size: var(--big-title) !important;
    color: var(--txt-color);
    transition: 0.5s;
  }

  .fa-bars:hover{
    color: var(--fifth-color);
    transition: 0.5s;
  }

  #myNavigation{
    font-size: var(--medium-title);
  }
}

/*************** A propos *******************/

.about-page{
  margin-left: 200px;
  background-color: var(--first-color);
  height: calc(100% - 40px);

}

.about-title{
  font-size: var(--big-title);
  color: var(--fifth-color);
  text-align: center;
  animation: blurFadeIn 1.5s ease-in 0s backwards;
}

.about-me{
  display: flex;
  flex-direction: row;
}

.about{
  padding: 65px 65px 0 65px;
  width: 100%;
}

.text{
  animation: blurFadeIn 1.5s ease-in 1.3s backwards;
  text-align: justify;
}

.content{
  animation: blurFadeIn 1.5s ease-in 2.2s backwards;
}

@keyframes blurFadeIn{
  0%{
    opacity: 0;
    transform: scale(1.1);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.description{  
  font-size: var(--small-title);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.description a{
  color: var(--fifth-color) !important;
  transition: 0.5s;
}

.description a:hover{
  color: var(--third-color) !important;
  transition: 0.5s;
}

.photo{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  animation: fadein 4s;
  position: sticky;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.profile{
  height: 100%;
  object-fit: cover;
  filter: grayscale();
  width: 100%;
  transition: 1s;
}
 
.profile:hover{
  filter: none;
  transition: 1s;
}

.tagcloud {
  font-family:var(--first-font);  /* Skills sphere */
  font-size: 20px;
  margin: auto;
  width: 50%;
}

.tagcloud--item:hover {
  color: #36454F;
}

@media screen and (max-width :768px){
  .about-me{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 auto;
  }

  .about-page{
    margin: 0 auto !important;
    max-width: 100% !important;
  }

  .description{
    width: 100% !important;
  }

  .about{
    padding: 20px !important;
    width: 100% !important;
  }

  .about-title{
    width: 100% !important;
  }

  .text{
    width: 100% !important;
  }

  .text a{
    display: flex;
    justify-content: center !important;
  }

  .sphere{
    width: 100% !important;
  }

  .photo{
    width: 100% !important;
  }

  .footer{
    display: none !important;
  }
}

/*************** Contact ********************/

.contact-page{
  margin-left: 200px;
  padding: 30px;
}

.contact-form{
  position: relative;
  padding-top: 30px;
  max-width: 750px;
  min-height: 500px;
}

.contact-form h2{
  color: var(--txt-color);
  font-size: var(--medium-title);
  padding: 0 10px;
}

.form-group{
  padding: 5px 10px 5px 10px;
  max-width: 500px;
}

.contact-fields{
  padding-top: 20px;
}

.form-control-name-field, .form-control-mail-field, .form-control-subject-field{
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Bahnschrift';
  background-color: var(--sixth-color);
}

.form-control-message-field{
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Bahnschrift';
  background-color: var(--sixth-color);
}

input::placeholder, textarea::placeholder{
  color: var(--first-color);
}

.submit-button{
  position: absolute;
  right: 0;
  background-color: var(--scd-color);
  color: var(--txt-color);
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  margin: 0 10px;
  transition: 0.5s;
  cursor: pointer;
}

.submit-button:hover{
  transition: 0.5s;
  background-color: var(--third-color);
}

.mentions{
  max-width: 500px;
  /* text-align: center; */
  padding: 10px;
}

@media screen and (max-width :768px) {
  .contact-page{
    margin: 10px !important;
  }

  .confirmation-page{
    padding: 40px 20px 20px 20px!important;
  }
}

.confirmation-page{
  padding-left: 200px;
  padding-top: 200px;
  width: 100%;
  text-align: center;
}

.confirmation-page a{
  color: var(--fifth-color) !important;
}

.confirmation-page a:hover{
  color: var(--third-color) !important;
}

/**************** Footer ********************/

.footer{
  display: flex;
  background-color: var(--first-color);
  color: var(--fifth-color);
  width: 200px;
  text-align: center;
  height: 40px;
  align-items: center;
  justify-content: center;
}

/***************** Cursor *******************/

.cursor {
  opacity: 65%;
  position: fixed;
  width: 0;
  height: 0;
  border: 10px solid var(--txt-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.2s, height 0.2s;
  z-index: 100;
}

.cursor.link {
  width: 40px;
  height: 40px;
  border: 2px solid var(--txt-color)
}

/**************** Accueil ************/

.work-container{
  margin-left: 200px;
}